/Template_admin/nbproject/private/
/DATN_ShopHoaTuoi/dist/
/DATN_ShopHoaTuoi/nbproject/private/
/Gitlab cai cc/DATN_ShopHoaTuoi/build/
/LOZDiem/DATN_ShopHoaTuoi/nbproject/private/
/LOZDiem/DATN_ShopHoaTuoi/dist/
/LOZDiem/DATN_ShopHoaTuoi/build/
/Update-project/DATN_ShopHoaTuoi/DATN_ShopHoaTuoi/build/