USE [master]
GO
/****** Object:  Database [SG_Rose]    Script Date: 12/21/2020 9:27:54 PM ******/
CREATE DATABASE [SG_Rose]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SG_Rose', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\SG_Rose.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SG_Rose_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\SG_Rose_log.ldf' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SG_Rose].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SG_Rose]
GO
/****** Object:  StoredProcedure [dbo].[sp_LichSuMuaHang]    Script Date: 12/21/2020 9:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_LichSuMuaHang](@UserId INT)
AS BEGIN
	SELECT
		ordd.Id,
		ord.UserId,
		fl.Name, 
		fl.Image, 
		ordd.Price, 
		ordd.Amount, 
		ordd.Totalprice
	FROM OrdersDetails ordd
		JOIN Orders ord ON ord.Id = ordd.OrderId 
		JOIN Flowers fl ON fl.Id = ordd.FlowerId
	WHERE ord.UserId = @UserId
END




GO
/****** Object:  StoredProcedure [dbo].[sp_ReportsFowers]    Script Date: 12/21/2020 9:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ReportsFowers]
AS BEGIN
	SELECT
	c.Name as [Group],
	sum(p.Price * p.Amount) as sum,
	sum(p.Amount) as count,
	min(p.Price) as Min,
	max(p.Price) as Max,
	AVG(p.Price) as Avg
	From Flowers as p
	inner join TypesOfFlowers as c
	on p.TypeId = c.Id
	Group  by c.Name
END



GO
/****** Object:  Table [dbo].[Actives]    Script Date: 12/21/2020 9:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Actives](
	[Id] [int] NOT NULL,
	[Name] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Companys]    Script Date: 12/21/2020 9:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Companys](
	[Name] [nvarchar](500) NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
	[Fax] [varchar](10) NULL,
	[Link] [varchar](500) NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Image] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 12/21/2020 9:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Contacts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Topic] [nvarchar](100) NULL,
	[Message] [nvarchar](4000) NOT NULL,
	[Phone] [varchar](20) NOT NULL,
	[Map] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DiscountPrograms]    Script Date: 12/21/2020 9:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscountPrograms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[DateStart] [date] NOT NULL,
	[DateEnd] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FlowerPromotionPrograms]    Script Date: 12/21/2020 9:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FlowerPromotionPrograms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DiscountId] [int] NOT NULL,
	[FlowerID] [int] NOT NULL,
	[TypePercent] [float] NULL,
	[TypePrice] [float] NULL,
	[Amount] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Flowers]    Script Date: 12/21/2020 9:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flowers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[TypeId] [int] NULL,
	[Amount] [int] NOT NULL,
	[Price] [float] NULL,
	[Image] [nvarchar](100) NULL,
	[Notes] [nvarchar](4000) NULL,
	[Createdtime] [date] NULL DEFAULT (getdate()),
	[Updatedtime] [date] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Genders]    Script Date: 12/21/2020 9:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genders](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ispaids]    Script Date: 12/21/2020 9:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ispaids](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 12/21/2020 9:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Address] [nvarchar](500) NULL,
	[TotalMoney] [float] NULL,
	[Status] [int] NULL,
	[Ispaid] [int] NULL,
	[Createdtime] [date] NULL DEFAULT (getdate()),
	[Updatedtime] [date] NULL DEFAULT (getdate()),
	[Name] [nvarchar](50) NULL,
	[NumberPhone] [varchar](10) NULL,
	[Email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OrdersDetails]    Script Date: 12/21/2020 9:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdersDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[FlowerId] [int] NOT NULL,
	[Price] [float] NULL,
	[Amount] [int] NOT NULL,
	[Totalprice] [float] NULL,
	[Createdtime] [date] NULL DEFAULT (getdate()),
	[Updatedtime] [date] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderStatus]    Script Date: 12/21/2020 9:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatus](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 12/21/2020 9:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Staffs]    Script Date: 12/21/2020 9:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Staffs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Birthday] [date] NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[Avatar] [varchar](200) NULL,
	[Gender] [int] NULL,
	[Phone] [varchar](20) NOT NULL,
	[Role] [int] NOT NULL,
	[Createdtime] [date] NULL DEFAULT (getdate()),
	[Updatedtime] [date] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TypesOfFlowers]    Script Date: 12/21/2020 9:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypesOfFlowers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Image] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/21/2020 9:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Email] [nvarchar](200) NULL,
	[Address] [nvarchar](200) NULL,
	[Phone] [nvarchar](100) NULL,
	[Password] [nvarchar](100) NULL,
	[Avatar] [varchar](200) NULL,
	[Gender] [int] NULL,
	[IsActive] [int] NULL,
	[Createdtime] [date] NULL DEFAULT (getdate()),
	[Updatedtime] [date] NULL DEFAULT (getdate()),
	[Birthday] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Actives] ([Id], [Name]) VALUES (1, N'Active')
INSERT [dbo].[Actives] ([Id], [Name]) VALUES (2, N'UnActive')
SET IDENTITY_INSERT [dbo].[Companys] ON 

INSERT [dbo].[Companys] ([Name], [Address], [Fax], [Link], [Id], [Image]) VALUES (N'Flower Store', N'Quận 1', N'0346789123', N'Flowercorner', 1, N'elise.png')
INSERT [dbo].[Companys] ([Name], [Address], [Fax], [Link], [Id], [Image]) VALUES (N'Hoa Phố', N'Quận Đống Đa, Hà Nội', N'321321313', N'hoapho', 2, N'hoapho.jpg')
INSERT [dbo].[Companys] ([Name], [Address], [Fax], [Link], [Id], [Image]) VALUES (N'HJ store', N'Quận 3', N'213123123', N'hjstore', 3, N'hj.png')
SET IDENTITY_INSERT [dbo].[Companys] OFF
SET IDENTITY_INSERT [dbo].[Contacts] ON 

INSERT [dbo].[Contacts] ([Id], [UserId], [Topic], [Message], [Phone], [Map]) VALUES (1, 1, N'Ch?t lu?ng hoa', N'Ch?t lu?ng hoa', N'0913731119', NULL)
INSERT [dbo].[Contacts] ([Id], [UserId], [Topic], [Message], [Phone], [Map]) VALUES (2, 2, N'Xin th?c t?p', N'Em xin vào làm nhan viên', N'0123687456', NULL)
INSERT [dbo].[Contacts] ([Id], [UserId], [Topic], [Message], [Phone], [Map]) VALUES (3, 3, N'Thêm s? lu?ng', N'......', N'0974532567', NULL)
SET IDENTITY_INSERT [dbo].[Contacts] OFF
SET IDENTITY_INSERT [dbo].[DiscountPrograms] ON 

INSERT [dbo].[DiscountPrograms] ([Id], [Name], [DateStart], [DateEnd]) VALUES (1, N'Tình yêu vinh cửu', CAST(N'2020-02-10' AS Date), CAST(N'2020-02-14' AS Date))
INSERT [dbo].[DiscountPrograms] ([Id], [Name], [DateStart], [DateEnd]) VALUES (2, N'8/3 bên người yêu ', CAST(N'2020-03-01' AS Date), CAST(N'2020-03-08' AS Date))
INSERT [dbo].[DiscountPrograms] ([Id], [Name], [DateStart], [DateEnd]) VALUES (3, N'20/10 của các tình yêu', CAST(N'2020-10-15' AS Date), CAST(N'2020-10-20' AS Date))
SET IDENTITY_INSERT [dbo].[DiscountPrograms] OFF
SET IDENTITY_INSERT [dbo].[FlowerPromotionPrograms] ON 

INSERT [dbo].[FlowerPromotionPrograms] ([Id], [DiscountId], [FlowerID], [TypePercent], [TypePrice], [Amount]) VALUES (12, 2, 9, 0, 25000, 20)
INSERT [dbo].[FlowerPromotionPrograms] ([Id], [DiscountId], [FlowerID], [TypePercent], [TypePrice], [Amount]) VALUES (14, 4, 4, 10, 0, 30)
INSERT [dbo].[FlowerPromotionPrograms] ([Id], [DiscountId], [FlowerID], [TypePercent], [TypePrice], [Amount]) VALUES (19, 3, 5, 50, 0, 10)
SET IDENTITY_INSERT [dbo].[FlowerPromotionPrograms] OFF
SET IDENTITY_INSERT [dbo].[Flowers] ON 

INSERT [dbo].[Flowers] ([Id], [Name], [TypeId], [Amount], [Price], [Image], [Notes], [Createdtime], [Updatedtime]) VALUES (2, N'Ấm áp', 1, 98, 250000, N'Amap.jpg', N'Lẵng hoa Ấm áp  được tạo nên từ những bông hoa hồng kem, đồng tiền hồng, cẩm chướng hồng, ly hồng và lá phụ trang trí. Lẵng hoa thích hợp dành tặng cho những người thân yêu của bạn. Hãy làm cho người nhận cảm thấy hạnh phúc và được yêu thương khi nhận được giỏ hoa này nhé.', CAST(N'2020-11-08' AS Date), CAST(N'2020-12-21' AS Date))
INSERT [dbo].[Flowers] ([Id], [Name], [TypeId], [Amount], [Price], [Image], [Notes], [Createdtime], [Updatedtime]) VALUES (3, N'Bên nhau', 1, 99, 250000, N'Bennhau.jpg', N'Chút nhẹ nhàng của hồng pastel và hồng vàng kết hợp cùng sắc tím, trắng dành cho các cô nàng ngọt ngào, lãng mạn, dễ thương trong ngày trọng đại của cuộc đời khi sánh đôi cùng người mình yêu thương.', CAST(N'2020-11-08' AS Date), CAST(N'2020-11-08' AS Date))
INSERT [dbo].[Flowers] ([Id], [Name], [TypeId], [Amount], [Price], [Image], [Notes], [Createdtime], [Updatedtime]) VALUES (4, N'Chung một nha', 2, 99, 250000, N'Chung1nha.jpg', N'Giây phút về " một nhà" hẳn là giây phút mà biết bao người hồi hộp mong đợi. Khoảnh khắc được mặc chiếc váy cưới lộng lẫy và trên tay là một bó hoa đầy xinh tươi hẳn là giây phút hạnh phúc nhất trong cuộc đời người con gái. Hãy để bó hoa cầm tay với gam màu tươi sáng tạo nên từ hồng vàng và đồng tiền trắng góp phần tô nên đám cưới đẹp như mơ của bạn nhé', CAST(N'2020-11-08' AS Date), CAST(N'2020-11-08' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Flowers] OFF
INSERT [dbo].[Genders] ([Id], [Name]) VALUES (1, N'Nam')
INSERT [dbo].[Genders] ([Id], [Name]) VALUES (2, N'Nữ')
INSERT [dbo].[Genders] ([Id], [Name]) VALUES (3, N'Khác')
INSERT [dbo].[Ispaids] ([Id], [Name]) VALUES (1, N'Chưa Thanh Toán')
INSERT [dbo].[Ispaids] ([Id], [Name]) VALUES (2, N'Đã Thanh Toán')
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [UserId], [Address], [TotalMoney], [Status], [Ispaid], [Createdtime], [Updatedtime], [Name], [NumberPhone], [Email]) VALUES (1, 1, N'33 Nguyễn Văn Lượng, Gò Vấp', 1500000, 1, 2, CAST(N'2020-11-08' AS Date), CAST(N'2020-12-08' AS Date), NULL, NULL, N'longho2390@gmail.com')
INSERT [dbo].[Orders] ([Id], [UserId], [Address], [TotalMoney], [Status], [Ispaid], [Createdtime], [Updatedtime], [Name], [NumberPhone], [Email]) VALUES (2, 2, N'11 Nguyễn Oanh, Gò Vấp', 350000, 1, 1, CAST(N'2020-11-08' AS Date), CAST(N'2020-11-08' AS Date), N'a', N'0829069648', N'truyentran20172201@gmail.com')
INSERT [dbo].[Orders] ([Id], [UserId], [Address], [TotalMoney], [Status], [Ispaid], [Createdtime], [Updatedtime], [Name], [NumberPhone], [Email]) VALUES (3, 3, N'12 Lê Văn Việt, Quận 9', 4500000, 2, 1, CAST(N'2020-11-08' AS Date), CAST(N'2020-11-08' AS Date), N'a', N'0829069648', N'thanhthanh@gmail.com')
SET IDENTITY_INSERT [dbo].[Orders] OFF
SET IDENTITY_INSERT [dbo].[OrdersDetails] ON 

INSERT [dbo].[OrdersDetails] ([Id], [OrderId], [FlowerId], [Price], [Amount], [Totalprice], [Createdtime], [Updatedtime]) VALUES (3, 3, 7, 150000, 1, 150000, CAST(N'2020-11-08' AS Date), CAST(N'2020-11-08' AS Date))
INSERT [dbo].[OrdersDetails] ([Id], [OrderId], [FlowerId], [Price], [Amount], [Totalprice], [Createdtime], [Updatedtime]) VALUES (4, 4, 5, 200000, 5, 1000000, CAST(N'2020-11-08' AS Date), CAST(N'2020-11-08' AS Date))
INSERT [dbo].[OrdersDetails] ([Id], [OrderId], [FlowerId], [Price], [Amount], [Totalprice], [Createdtime], [Updatedtime]) VALUES (5, 5, 9, 200000, 6, 1200000, CAST(N'2020-11-08' AS Date), CAST(N'2020-11-08' AS Date))
SET IDENTITY_INSERT [dbo].[OrdersDetails] OFF
INSERT [dbo].[OrderStatus] ([Id], [Name]) VALUES (1, N'Đang Chờ Lấy Hàng')
INSERT [dbo].[OrderStatus] ([Id], [Name]) VALUES (2, N'Đang Giao Hàng')
INSERT [dbo].[OrderStatus] ([Id], [Name]) VALUES (3, N'Đã Nhận Hàng')
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (2, N'Staff')
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[Staffs] ON 

INSERT [dbo].[Staffs] ([Id], [Name], [Email], [Password], [Birthday], [Address], [Avatar], [Gender], [Phone], [Role], [Createdtime], [Updatedtime]) VALUES (1, N'Trần Công Truyền', N'truyentran20172201@gmail.com', N'123', CAST(N'2000-01-22' AS Date), N'1144 Lê Đức Thọ Gò Vấp', N'truyen.jpg', 1, N'0962086560', 1, CAST(N'2020-10-17' AS Date), CAST(N'2020-12-21' AS Date))
INSERT [dbo].[Staffs] ([Id], [Name], [Email], [Password], [Birthday], [Address], [Avatar], [Gender], [Phone], [Role], [Createdtime], [Updatedtime]) VALUES (2, N'Nguyễn Đức Hòa', N'duchoa3320000@gmail.com', N'123', CAST(N'2000-01-01' AS Date), N'Hooc Môn', N'hoa.jpg', 1, N'0123738492', 1, CAST(N'2020-10-17' AS Date), CAST(N'2020-12-09' AS Date))
INSERT [dbo].[Staffs] ([Id], [Name], [Email], [Password], [Birthday], [Address], [Avatar], [Gender], [Phone], [Role], [Createdtime], [Updatedtime]) VALUES (3, N'Doanh Ngọc Diễm', N'diemdoanhngoc123@gmail.com', N'123', CAST(N'2000-01-01' AS Date), N'Bình Thạnh', N'diem.jpg', 1, N'0123738492', 1, CAST(N'2020-10-17' AS Date), CAST(N'2020-12-09' AS Date))
SET IDENTITY_INSERT [dbo].[Staffs] OFF
SET IDENTITY_INSERT [dbo].[TypesOfFlowers] ON 

INSERT [dbo].[TypesOfFlowers] ([Id], [Name], [Image]) VALUES (1, N'Hoa cưới', N'asd')
INSERT [dbo].[TypesOfFlowers] ([Id], [Name], [Image]) VALUES (2, N'Hoa chi buồn', N'asd')
INSERT [dbo].[TypesOfFlowers] ([Id], [Name], [Image]) VALUES (3, N'Hoa chúc mừng', N'asd')
SET IDENTITY_INSERT [dbo].[TypesOfFlowers] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Name], [Email], [Address], [Phone], [Password], [Avatar], [Gender], [IsActive], [Createdtime], [Updatedtime], [Birthday]) VALUES (1, N'Nguyễn Đức Hòa', N'duchoa3320000@gmail.com', N'Hóc Môn', N'0962543840', N'123', N'hoa.jpg', 1, 1, CAST(N'2020-10-17' AS Date), CAST(N'2020-10-17' AS Date), CAST(N'2000-06-07' AS Date))
INSERT [dbo].[Users] ([Id], [Name], [Email], [Address], [Phone], [Password], [Avatar], [Gender], [IsActive], [Createdtime], [Updatedtime], [Birthday]) VALUES (2, N'Trần Công Truyền', N'truyentran20172201@gmail.com', N'Gò Vấp', N'0912321321', N'123', N'truyen.jpg', 1, 1, CAST(N'2020-10-17' AS Date), CAST(N'2020-12-21' AS Date), CAST(N'2000-01-22' AS Date))
INSERT [dbo].[Users] ([Id], [Name], [Email], [Address], [Phone], [Password], [Avatar], [Gender], [IsActive], [Createdtime], [Updatedtime], [Birthday]) VALUES (3, N'Doanh Ngọc Diễm', N'diem@gmail.com', N'Bình Thạnh', N'0962789456', N'123', N'diem.jpg', 1, 2, CAST(N'2020-10-17' AS Date), CAST(N'2020-12-21' AS Date), CAST(N'2000-07-07' AS Date))
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[Contacts]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[FlowerPromotionPrograms]  WITH CHECK ADD FOREIGN KEY([DiscountId])
REFERENCES [dbo].[DiscountPrograms] ([Id])
GO
ALTER TABLE [dbo].[FlowerPromotionPrograms]  WITH CHECK ADD FOREIGN KEY([FlowerID])
REFERENCES [dbo].[Flowers] ([Id])
GO
ALTER TABLE [dbo].[Flowers]  WITH CHECK ADD FOREIGN KEY([TypeId])
REFERENCES [dbo].[TypesOfFlowers] ([Id])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([Ispaid])
REFERENCES [dbo].[Ispaids] ([Id])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([Status])
REFERENCES [dbo].[OrderStatus] ([Id])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[OrdersDetails]  WITH CHECK ADD FOREIGN KEY([FlowerId])
REFERENCES [dbo].[Flowers] ([Id])
GO
ALTER TABLE [dbo].[OrdersDetails]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[Staffs]  WITH CHECK ADD FOREIGN KEY([Gender])
REFERENCES [dbo].[Genders] ([Id])
GO
ALTER TABLE [dbo].[Staffs]  WITH CHECK ADD FOREIGN KEY([Role])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([Gender])
REFERENCES [dbo].[Genders] ([Id])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([IsActive])
REFERENCES [dbo].[Actives] ([Id])
GO
USE [master]
GO
